@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply w-full mx-auto px-4 2xl:max-w-screen-2xl 2xl:px-32 
    xl:max-w-screen-xl xl:px-10 lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm;
}

.pagination-button {
    @apply w-10 h-10 flex items-center justify-center bg-[#f6f6f6] text-base rounded-full
    hover:bg-[#c43b68] hover:text-white transition-all cursor-pointer;
}

.pagination-button.active {
    @apply bg-[#c43b68] text-white;
}

.input {
    @apply block w-full py-3 px-4 text-base outline-none bg-[#F5F8FA]
    focus:outline-none transition ease-in-out duration-100;
}

.input-form {
    @apply shadow-md rounded-lg focus:ring-2 focus:ring-offset-0 
    focus:ring-gray-400 focus:ring-opacity-50 focus:shadow-none;
}
